#app {
  width: 100vw;
  height: 100vh;
  max-width: none;
  min-height: 100vh;
  margin: 0;
}

:root {
  --background-green: #04300c; /* --background-color */
  --primary-green: #2E7D32; /* --primary-color */
  --active-green: #0f3611; /* --active-color */
  --header-green: #275429; /* --header-color */
  --primary-orange: #f09311; /* --accent-color */
  --active-orange: #b56a01; /* --active-color */
  --text-white: white; /* --neutral-text-color */
  --accent-light-grey: rgba(200, 200, 200, 0.5); /* --accent-light-grey */

  /* You can also define other global properties */
  --font-family-sans: 'Inter', sans-serif;

}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-green);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%;
}

.container {
  background-color: var(--primary-green);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  max-width: 1200px;
}

.container2-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width : 100%;
  height: 100%;
  gap: 2px;
}

.container2-1 > div {
  border-radius: 5px;
  scrollbar-color: var(--accent-light-grey) var(--background-green);
  scrollbar-width: thin;
}
.container2-1 > .title {
    background-color: var(--header-green);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    grid-column: 1 / span 2;
    grid-row: 1;
    border-radius: 0px;
}
.title h1{
    color: var(--neutral-text-color);
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}


.footer {
    background-color: var(--header-green);
    color: white;
    text-align: left;
    font-size: 0.75em;
    grid-row: 4;
    grid-column: 1 / span 2;
}
.footer p{
    margin-left: 10px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}


header h1, .header h1, h1 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
header p, .header p, p {
  color: var(--neutral-text-color);
  font-size: 0.9em;
  margin-block-start: 0;
  margin-block-end: 0;
}


button {
  background-color: var(--primary-orange);
  color: var(--text-white);
  border: none;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  margin-bottom: 20px;
}
button:hover {
  background-color: var(--active-orange);
}

input {
    padding: 5px;
    margin-right: 5px;
    border-radius: 2px;
    border: none;
} 
input:focus {
    outline: var(--primary-orange) 2px solid;
    box-shadow: 0 0 10px var(--primary-orange);
}




