#app {
  width: 100vw;
  height: 100vh;
  max-width: none;
  min-height: 100vh;
  margin: 0;
}

:root {
  --background-color: #04300c;
  --primary-color: #2E7D32;
  --header-color: #275429;
  --accent-color: #f09311; 
  --active-color: #b56a01;
  --neutral-text-color: white;

  /* You can also define other global properties */
  --font-family-sans: 'Inter', sans-serif;

}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%;
}

.container {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  max-width: 1200px;
}

.container2-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width : 100%;
  height: 100%;
  gap: 2px;
}

.container2-1 > div {
  border-radius: 5px;
}
.container2-1 > .title {
    background-color: var(--header-color);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    grid-column: 1 / span 2;
    grid-row: 1;
    border-radius: 0px;
}
.title h1{
    color: var(--neutral-text-color);
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}


.footer {
    background-color: var(--header-color);
    color: white;
    text-align: left;
    font-size: 0.75em;
    grid-row: 4;
    grid-column: 1 / span 2;
}
.footer p{
    margin-left: 10px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}


header h1, .header h1, h1 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

header p, .header p, p {
  color: var(--neutral-text-color);
  font-size: 0.9em;
  margin-block-start: 0;
  margin-block-end: 0;
}

button {
  background-color: #f09311;
  color: white;
  border: none;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #b56a01;
}





